/**********
TITLE: Conversions
AUTHOR: Harmanjot Singh (HS)
PURPOSE: To style the conversions.html
ORIGINALLY CREATED ON: 20 Jan 2019
LAST MODIFIED ON: 20 Jan 2019
LAST MODIFIED BY: Harmanjot Singh (HS)
MODIFICATION HISTORY: Original Build
**********/

body {
    background-color: lightseagreen;
}

a:hover {
    background-color: #ddd;
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
}